/*General Config*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  
}

html {
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
 
}
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 1px;
}
body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  height: 5000px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 9%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: black;
}
.logo{
  left: 28px;
  position: absolute;
  top: 11px;
}
 .navb{
  position: absolute;
  top: 47%;
  right: 0px;
  font-size: 12px;
  left: 88px;
  width: 319px;
  display: table;
  margin: 0 auto;
  transform: translateY(-50%);
}
.navb a{
position: relative;
text-align: center;
color: #949494;
margin: 4px;
width: 319px;
padding: 10px ;
transition: 0.2s ease color;
text-decoration: none;
}
.navb a:before,
.navb a:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
}

.navb a:before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}

.navb a:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}

.navb a:nth-child(1):before {
  background-color: yellow;
}

.navb a:nth-child(1):after {
  background-color: red;
}

.navb a:nth-child(2):before {
  background-color: #00e2ff;
}

.navb a:nth-child(2):after {
  background-color: #89ff00;
}

.navb a:nth-child(3):before {
  background-color: purple;
}

.navb a:nth-child(3):after {
  background-color: palevioletred;
}
.navb a:nth-child(4):before {
    background-color: rgb(46, 22, 202);
  }
  
  .navb a:nth-child(4):after {
    background-color: rgb(177, 170, 172);
  }
#indicator {
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.2s ease left;
}

.navb a:hover {
  color: #fff;
}

.navb a:hover:before,
.navb a:hover:after {
  transform: scale(1);
}

.navb a:nth-child(1):hover ~ #indicator {
  background: linear-gradient(130deg, yellow, red);
}

.navb a:nth-child(2):hover ~ #indicator {
  left: 28%;
  background: linear-gradient(130deg, #00e2ff, #89ff00);
}

.navb a:nth-child(3):hover ~ #indicator {
  left: 50%;
  background: linear-gradient(130deg, purple, palevioletred);
}
.navb a:nth-child(4):hover ~ #indicator {
    left: 70%;
    background: linear-gradient(130deg, rgb(46, 22, 202), rgb(177, 170, 172));
  }

  .login a{
    position: absolute;
    top: 15px;
    right:  17px;
    font-size: 20px;
    color: #949494;
    text-decoration: none;
    transition: 0.2s ease color;
}
.login a:hover{
  color: #ffffff;
}
 
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: black;
  background-position: center;
  background-size: cover;
  position: relative;
}
.robot img{
  position: relative;
  top: 90px;
  left: -7%;
  width:500px;
  animation: position 3s infinite;
}
@keyframes position
{
  0%{
    top: 90px;
  width:500px;
  }
  50%{
    top: 110px;
  width:500px;
  }
  100%{
    top: 90px;
    width:500px;
  }
}
.pra p {
  position: relative;
  right: 19px;
  font-family: sans-serif;
  text-transform:none;
  font-size: 20px;
  letter-spacing: 2px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 9s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-title{
  font-size: 3rem;
  margin-bottom: 30px;
  font-family:  cursive;
}
.content{
  position: absolute;
  max-width: 1000px;
  top: 161px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.content image{
  position: relative;
 width: 800px;
 height: 400px;
 overflow: hidden;
}
.content .image img{
  z-index: 111;
  position:absolute;
  top: 0;
  left: -225px;
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.content .texbox{
  position: relative;
  left: 96px;
  z-index: 222;
  background: rgba(68, 106, 106, 0.1);
  backdrop-filter: blur (20px);
  padding: 40px;
  max-width: 700px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;

}
.content .texbox p{
  font-family:  cursive;
}
.content .texbox h3{
font-size: 2em;
color: rgb(29, 78, 226);
margin-bottom: 5px;
font-family:  cursive;
text-align: center;
}
.media-icons{
  margin-top: 500px;
  position: relative;
  left: 90px;
}
.media-icons a{
  color: #000;
  font-size: 2em;
  margin: 60px;
}
.sec-02 .container .main-title {
  position: relative;
  top: 44px;
}
.slide-content{
  margin: 0 40px;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
.card{
  height: 390px;
  width: 320px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  margin-left: 75px;
  position: relative;
  top: 50px;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
 padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #265DF4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after
{
content: "";
position:absolute;
right: 0;
bottom: -40px;
height: 40px;
width: 40px;
background-color: #265DF4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #fff;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: rgb(230, 228, 228);
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070f4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.descriotion{
  position: relative;
  top: 50px;
  font-size: 16px;
  color: #707070;
  text-align: center;
}






@media only screen and (max-width: 600px)  {
  .pra p{
    position: absolute;
    bottom:  15px;
    font-size: 15px;
    letter-spacing: 2px;
  }
  .robot img{
    position: absolute;
    top: 80px;
    left: -21%;
  }
  .content{
    position: absolute;
    max-width: 900px;
    top: 266px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content .image img{
    z-index: 111;
    position:absolute;
    top: -228px;
    left: 4px;
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  .content .texbox{
    position: relative;
    max-width: 362px;
    top: 68px;
    left: 2px;
    z-index: 222;
  }
  .media-icons{
    margin-top: 900px;
    position: relative;
    left: 10px;
  }
  .media-icons a{
    color: #000;
    font-size: 2em;
    margin: 10px;
  }
  
  .card{
    height: 390px;
    width: 90%;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    margin-left: 75px;
    position: relative;
    top: 50px;
    right: 54px;
    margin-top: 20px;
  }

}


















































